@media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      /* margin-top: 2rem; */
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
    .nav-links li a {
        font-size: 1.2rem;
    }
    .theme-btn {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .hamburger-menu {
        top: 0;
        right: 0;
    }
    .menu-links {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    .menu-links a {
        font-size: 1rem;
    }
    #mobile-theme-toggle {
        position: absolute;
        top: 10px;
        right: 60px;
    }
}